@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 400;
  src: url(../src/assets/fonts/Yekan/Yekan.eot);
  /* IE9 Compat Modes */
  src: local("Yekan"), local("Yekan"),
    url(../src/assets/fonts/Yekan/Yekan.eot) format("embedded-opentype"),
    /* IE6-IE8 */
    /* Super Modern Browsers */
    url(../src/assets/fonts/Yekan/Yekan.woff) format("woff"),
    /* Modern Browsers */
    url(../src/assets/fonts/Yekan/Yekan.ttf) format("truetype"),
    /* Safari, Android, iOS */
    url(../src/assets/fonts/Yekan/Yekan.svg) format("svg");
  /* url(../src/assets/fonts/Yekan/Yekan.woff) */
  /* Legacy iOS */
}

body {
  font-family: "Yekan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  /* overflow: hidden; */
  background: #fafafa;

}



.abs-loading {
  opacity: 0;
  z-index: -1000;
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  /* top: -1000px; */
  transition: all 1s;
}

.abs-loading.active {
  opacity: 1;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0px;
  transition: all 1s;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: calc(50% - 80px);
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(30, 211, 235);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
  border-radius: 10px;
}

.no-sroll {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.text-center {
  text-align: center !important;
}

.grid-spinner {
  left: 49%;
  top: 50%;
  z-index: 3;
  position: fixed !important;
  /* background-color: white; */
}

.grid-spinner-paginate {
  width: 100%;
  z-index: 3;
  position: fixed !important;
  height: 100%;
  top: 126px;
  right: 0px;
  background: #ffffffd6;
}

.grid-spinner-paginate .ant-spin-dot {
  top: 20%;
  left: 0.5%;
  animation: antRotate 0.6s infinite linear;
}

.custom-fast-spin {
  /* font-size: 24px; */
  animation: antRotate 0.4s infinite linear;
}

.spin-holder {
  width: 48px;
  height: 47px;
  background: #2392ff;
  padding: 6px;
  border: none;
  color: white;
  border-radius: 57px;
}

.infinit-spinner {
  z-index: 3 !important;
  margin: 0px -28px !important;
}

.swaper-filter {
  width: 40px !important;
  z-index: 2;
  margin-right: 5px;
  padding: 8px 0px;
  /* background: #fafafa; */
  cursor: pointer;
}

.swaper-filter div {
  background: #fafafa;
  padding: 7px;
  border-radius: 8px;
}

.swaper-filter div:hover {
  background: #ebecec;
}

.swaper-filter div:active {
  background: #d8d8d8;
}

.baseMenu .ant-menu-item {
  /* border-left: 1px solid #e9e9e9; */
}

.baseMenu .ant-menu-item:nth-last-child(2) {
  /* border-right: 1px solid #e9e9e9; */
}

.baseMenu .ant-badge-rtl .ant-badge-count {
  left: 8px !important;
}

.baseMenu .ant-menu-item-disabled {
  cursor: initial;
}

.ant-layout {
  background: rgb(250, 250, 250) !important;
}

.ant-layout-footer {
  border-top: 1px dashed gainsboro;
  /* margin-top: 20px; */
}

.ant-layout-header {
  padding: 0 !important;
  /* padding: 0 50px; */
  height: 66px !important;
  position: fixed;
  width: 100%;
  z-index: 20;

  border-bottom: 1px #f3f3f3 solid;
}

.toolbar {
  position: fixed;
  top: 60px;
  width: 1349px;
  border-top: 1px solid lightgray;
  height: 60px;
  z-index: 20;
  background-color: #fafafa;
}

.myrow .ant-col {
  background-color: gainsboro;
  padding: 16px 0;
  text-align: center;
}

.logoSm {
  display: none;
}

.logoWide {
  display: initial;
}

.categorySlider {
  padding: 10px 35px;
  background: #fafafa;
  /* opacity: 0; */
}

.Search-custom {
  width: 97%;
  padding: 8px 0px !important;
  /* margin-right: 7px; */
  padding-right: 7px !important;
}

.site-drawer-render-in-current-wrapper {
  /* position: relative; */
  /* height: 200px; */
  /* padding: 48px; */
  /* overflow: hidden; */
  text-align: center;
  background: #fafafa;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}

.filter-drawer {
  margin-top: 124px;
}

.filter-drawer .ant-drawer-content-wrapper {
  width: 316px !important;
  box-shadow: -6px 0px 4px -3px #00000063 !important;

  /* margin-top: 128px; */
  /* box-shadow: none !important; */
  /* -webkit-box-shadow: none !important; */
}

.full-content {
  margin-top: 66px;
}

.view-content {
  margin-top: 10px;
  /* overflow: hidden; */
  padding-bottom: 26px;
  padding-top: 15px;

}

/* remoeve this */
.ant-card-cover>* {
  display: block;
  width: 100%;
  background: white;
  height: 237px;
}

.cat-list {
  padding: 7px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
}

.cat-list::before {
  content: '>';
  padding-left: 8px;
  font-size: 20px;
}

.cat-list:hover {
  transition-duration: 0.5s;
  background: aliceblue;
}



/*  */
.side-menu-container.end-page {
  display: contents;
  /* display: flex; */
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  padding: 0;
  /* border: 2px dashed rgba(114, 186, 94, 0.35); */
  /* background: rgba(114, 186, 94, 0.05); */
}

.side-menu-container.start-page {
  /* display: contents; */
  display: flex;

  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  padding: 0;
  /* border: 2px dashed rgba(114, 186, 94, 0.35); */
  /* background: rgba(114, 186, 94, 0.05); */
}

.side-menu.end-page {
  position: -webkit-sticky;
  position: sticky;
  top: 139px;
  width: 100%;
  /* bottom: 0px; */
  align-self: flex-end;
}

.side-menu.start-page {
  position: -webkit-sticky;
  position: sticky;
  /* top: 139px; */
  bottom: 0px;
  width: 100%;
  align-self: flex-end;
}

.side-menu div.ant-collapse {
  margin-bottom: 10px;


}

.side-content {
  /* transition-duration: 2s; */
  transition: all 0.9s !important;
  border-left: 5px solid #d8d8d8;
  background: #fafafa !important;
  /* box-shadow: -2px 0px 7px -3px grey; */
  padding: 15px;

}

.side-content.hide {
  transition: all 0.9s !important;

  flex: 0 0 0px !important;
  max-width: 0px !important;
  min-width: 0px !important;
  width: 0px !important;
  padding: 0px;
  border-left: 0px;


}

.side-content * {
  transition: all 0.7s !important;

  opacity: 1;
  margin-right: 0px;
}

.side-content.hide * {
  transition: all 0.7s !important;
  opacity: 0;
  /* margin-right: -70px; */
}

.filter-drawer .ant-drawer-wrapper-body,
.filter-drawer .ant-drawer-header,
.filter-drawer .ant-drawer-body {
  background: #fafafa !important;
}

.search-mask {
  height: 100%;
  width: 100%;
  z-index: 5;
  background: #00000078;
  top: 126px;
  left: 0;
  transition-duration: 0.2s;
}

.fixed-mask {
  position: fixed;

}



.inherit-mask {
  position: inherit;
}

.Search-custom .ant-input-search {
  border-radius: 6px;
  padding: 8.5px 11px;
  border: none;
  background-color: #ebecec;
}

.Search-custom .ant-input-search input {
  background-color: #ebecec;
}

.search-dropdown-custom {
  position: fixed !important;
}


.with-opacity {
  text-align: center;
}


.side-collapse .ant-collapse-header {
  background-color: white !important;

}

.side-collapse .ant-collapse-content {
  border-top: none;

}

hr {
  border: none;
  border-top: 1px solid #d8d8d8;
}

.minimal-border {
  position: relative;
  top: -15px;
  margin: 0;

}

/* 
.with-no-opacity {
  opacity: 0;
  transition-duration: 0s;
  visibility: hidden;
  height: 0;
} */

.ant-affix .category-row {
  box-shadow: 0px 4px 4px -5px #000000b8;
  background: #fafafa;
}

.category-slide {
  background-color: #ebecec;
  text-align: center;
  border-radius: 100px;
  font-weight: bolder;
  padding: 8px 15px;
  cursor: pointer;

  border: 1px solid #fafafa;
}

.category-slide:hover {
  background-color: #cfcfcf;
  /* border: 1px solid #fafafa; */
  /* color: white; */
}

/* 
#active-tag {
  background-color: #1890ff;
  border: 1px solid #51ceff;
  color: white;
} */

.category-slide.selected-tag {
  background-color: #1890ff;
  /* border: 1px solid #ffffff00; */
  color: white;
}

#categoryArrow-next::before,
#categoryArrow-prev::before {
  color: #8e8e8e;
  font-size: 28px;
}

#categoryArrow-prev {
  left: -22px !important;
  height: 50px;
  padding: 13px 0;
  width: 33px;
  z-index: 1;
  background: #ffffffdb;
  box-shadow: 19px 0px 19px 1px white;
}

#categoryArrow-next {
  right: -24px !important;
  height: 50px;
  padding: 13px 0;
  width: 41px;
  background: #fafafa;
  box-shadow: -24px 0px 11px -1px #fafafa;
}

.slick-disabled {
  display: none !important;
}

.slick-slide div {
  margin: 0 6px;
}

.ant-layout-content {
  /* padding: 20px; */
}

.stack-grid {
  padding: 0px 50px;
  min-height: 550px;

}

.stack-grid-comp {
  min-height: 360px;
}

.ant-card-meta-description {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---------------------------------grid-blog */
.grid-blog-col {
  padding: 5px;
  flex: 0 0 250px;
}

.grid-blog-card .ant-card-cover {
  /* height: 235px;
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  animation: ant-skeleton-loading 1.4s ease infinite; */
}

.center-paginate {
  text-align: center;
}

.center {
  text-align: center !important;
}

.grey {
  color: grey;
}

.gray {
  color: #cdcdcd;
}


.svg-grey {
  fill: #575757;
}

.hashtag-container {
  transition-duration: 2s;
}

/* ---------------------------------grid-blog-card */



/* ///////////////////////////////////List view */
.stack-list {
  padding: 13px 32px;
}

.list-custom-larg {
  background: #f7f7f7;
  border: 1px solid #dfdfdf !important;
  padding: 19px !important;
  border-radius: 9px;
  margin-bottom: 15px;
}



.list-block-larg .ant-list-item-meta,
.list-block-larg .ant-list-item-meta-title {
  margin-bottom: 0 !important;

}

.opt-info {
  font-size: 17px;
  font-family: fantasy;
}

.opt-info .up {
  color: #42b3ff;

  margin-left: 10px;

}

.opt-info .down {
  color: #eb2f96;
}


.ant-avatar>img {
  background: #e9e9e9;
}

.ant-list-item-extra>img {
  background: #e9e9e9;
}


.login-form-forgot {
  float: left;
}


.login-modal .ant-modal-content .ant-modal-body {
  padding-bottom: 0 !important;
}

.user-circle {
  padding: 0 !important;
  width: 70px;
}

.user-letter {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 37px !important;
  color: white;
  font-size: 20px;
  padding: 0 20px;
  text-align: center;
}


.letter-login-caret {
  position: absolute;
  background: #fafafa;
  top: 40px;
  left: 33px;
  padding: 2px;
  border-radius: 25px;
  box-shadow: 0px 0px 2px 1px #9b9b9b
}

.letter-login-caret:hover {
  box-shadow: 0px 0px 3px 2px #9b9b9b
}

.letter-login-caret svg {
  font-size: 11px;
  color: grey;
}

.login-menu {
  border-left: none !important;
}

.ant-popover-title {
  min-height: 122px !important;
}

.user-letter-big {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 97px !important;
  color: white;
  font-size: 72px;
  font-weight: lighter;
  text-align: center;
}

/* ///////////////////////////////////L:ist view */
@media only screen and (max-width: 610px) {
  .grid-blog-col {
    padding: 5px;
    flex: 0 0 240px;
  }

  .stack-grid {
    padding: 0px 10px;
  }

  .ant-layout-header {
    padding: 0 !important;
  }

  .ant-layout-content {
    padding: 0;
  }

  .logoSm {
    display: initial;
  }

  .logoWide {
    display: none;
  }

  .baseMenu .ant-menu-item {
    border-left: none;
  }

  .baseMenu .ant-menu-item:nth-last-child(2) {
    border-right: none;
  }

  .baseMenu .ant-badge-rtl .ant-badge-count {
    left: 8px !important;
  }
}